/* @media (min-width:430px){
  .object-cover object-top w-100{
    width: 50px;
    height: 200px;
    margin-right: 10px;
  }
} */

@media (min-width:820px){
  .container-fluid{
  .logo{
    #logo7{
      background:red;
    }
  }
}
}